.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    background-color: #EAE0DA;
    padding: 1rem;
    box-sizing: border-box;
}

.nav-link-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 30px;
    color:rgb(28, 130, 173);

}

.nav-link-left:hover{
    color:rgb(9, 82, 114);
}

.nav-link {
    text-decoration: none;
}


.nav-items-right {
    display: flex;
    gap: 1rem;
}

.nav-logo-img{
    width: 50px;
    border-radius: 50%;
}

.nav-products{
    color:blue;
}

.nav-wishlist{
    color:red;
}

.nav-cart{
    color:green;
}

.nav-profile{
    color:rgb(195, 120, 0);
}

.nav-products:hover,.nav-wishlist:hover,.nav-cart:hover,.nav-profile:hover{
    color:rgb(28, 130, 173);
}


@media screen and (max-width:880px) {
    
    .nav-container{
        height: 8vh;
        font-size: medium;
    }

    .nav-logo-img{
        width: 35px;
    }

    .nav-link-left{
        font-size: 20px;
    }
}